// colors
$darkGreen: #5c8d89;
$green: #fd7474;
$lightGreen: #a7d7c5;
$veryLightGreen:#007bff;;;
$darkGrey: #0f0b0b;
$white: #ffffff;
$lightGrey: #f2f2f2;

// font family
$fontFamily: "Andada Pro", serif;
$lightFont: 400;
$heavyFont: 600;

// fonts
$logoFont: calc(1.25 * 25px);