.button {



    padding: 0.5rem 1rem;



    background-color: #007bff;



    color: #fff;



    border: none;



    border-radius: 4px;



    cursor: pointer;



}















.button:hover {



    background-color: #0056b3;



}















/* Form container */



.form-container {



    background-color: #f4f4f4;



    padding: 20px;



    border-radius: 8px;



    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);



    max-width: 400px;



    margin: 0 auto;



}















/* Form input fields */



.form-input {



    width: 100%;



    padding: 10px;



    margin: 10px 0;



    border: 1px solid #ccc;



    border-radius: 4px;



}















/* Form buttons */



.form-button {



    width: 100%;



    padding: 10px;



    background-color: #007bff;



    color: #fff;



    border: none;



    border-radius: 4px;



    cursor: pointer;



}















/* Added route details */



.added-route-details {



    background-color: #f9f9f9;



    padding: 10px;



    margin-top: 20px;



    border: 1px solid #ccc;



    border-radius: 4px;



    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);



}















.added-route-details h3 {



    font-size: 18px;



    margin-bottom: 10px;



}















/* Button container */



.button-container {



    display: flex;



    justify-content: flex-end;



    margin-bottom: 10px;



}















/* Add route button */



.add-route-button {



    padding: 10px;



    margin-top: 40px;



    margin-right: 10px;



    border-radius: 5px;



    float: right;



}


.bus-list-container {

    display: block;               /* i have changed here   before it was flex */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    text-align: center;
    }
    
    .bus-table {
    width: 90%;                   /*  This i have changed */
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 16px;
    margin: 50px;
    }
    
    .bus-table  th,
    .bus-table td {
    padding: 2px;
    text-align: center;
    border: 1px solid #000000;
    }
    
    .bus-table  th {
    background-color: #f2f2f2;
    font-weight: bold;
    }
    
    .buseedit {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 5px;
    border-radius: 0.5rem;
    width: 7rem;
    }
    
    .buseedit:hover {
    background-color: #0056b3;
    }
    .reo{
    text-align: center;
    }  