
.home-container {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container .paper {
  background-color: rgba(255, 255, 255, 0.634);
  padding: 1.7rem; 
  width: 100%;
  max-width: 800px;
  border-radius: 70rem !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.horizontal-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.home-container .input {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
}


.home-container .search-button {
  background-color: crimson !important;
  color: white !important;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  max-width: 180px;
  height: 57px;
}

.home-container .search-button:hover {
  background-color: rgb(252, 8, 8) !important;
  color: rgb(0, 0, 0);
}


.home-container .suggestions-list {
  position: absolute;
  width: 25%;
  max-height: 150px;
  overflow-y: auto;
  border-top: none;
  list-style: none;
  padding: 0;
  margin-top: 225px;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.home-container .suggestions-list li {
  list-style: none;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.home-container .suggestions-list li:hover {
  list-style: none;
  background-color: #f0f0f0;
}
